# Java / Spring Boot
backend/target/
*.class
*.iml

# Node / React
frontend/node_modules/
frontend/dist/
frontend/build/

# IDE / OS
.vscode/
.idea/
.DS_Store
*.log

# secrets
.env
**/application-local.properties
